body {
	background-color: #66ccff;

}

p {
	color: #ffff80;
	font-family: futura;
	text-align: center;
	font-size: 170%;

	width: 700px;
	margin-right: auto;
	margin-left: auto;
}

div {
	text-align: center;
	font-size: 10px;
}